<ion-header>
    <ion-navbar color="jgray">
        <ion-title text-center>
            <img src='assets/images/Jobfinder_logo.png'/>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content id="content">
    <ion-card class="ads" *ngFor="let item of slist; let i = index;" [style.backgroundImage]="'url('+item.tbl_ads_avatar_url+')'">
        <div class="follow" (click)="follow(item)">
            <img src="assets/images/home_people_icon_check@2x.png" *ngIf="item.follow_cnt == '1'"/>
            <img src="assets/images/home_people_icon@2x.png" *ngIf="item.follow_cnt != '1'"/>
        </div>
        <div class='div_cont' (click)="goads(item)"></div>
    </ion-card>
</ion-content>
