page-seeker-home{
    ion-navbar img{
        height: 64px;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    ion-card.ads{
        height: 320px;
        background-size: cover;
        background-position: center;
        width: 100%;
        margin: 0px;
        margin-bottom: 5px;
        position: relative
    }
    .follow{
        position: absolute;
        right: 2px;
        top: 0px;
        font-size: 30px;
        color: white;
        background: #333;
    }
    .follow img{
        width: 40px;
        height: 40px;
    }
    .div_cont{
        width: 100%;
        height: 100%;
    }
    .iconnoti{
        position: absolute;
        right: 10px;
        top: 18px;
        font-size: 28px;
        color: #3ac7f3;
        z-index: 9;
    }
    .noti{
        position: absolute;
        right: 10px;
        top: 20px;
        background: #f00;
        border-radius: 10px;
        width: 7px;
        height: 7px;
        z-index: 10;
    }
}