<ion-header>
    <ion-navbar color="jblue">
        <ion-title text-center *ngIf="!bedit">Create Job</ion-title>
        <ion-title text-center *ngIf="bedit">Edit Job</ion-title>
        <ion-buttons right>
            <div class="fright" (click)="post()">Post</div>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="back_img" id="back_img" (click)="presentActionSheet(0)">
        <ion-icon *ngIf="file_image_back == null" class="cam_back" name="ios-camera-outline" ></ion-icon>
    </div>
    <input type="file" name="file_back" id="file_back" (change)="setFileBack($event)" #fileInp style="display:none" />
    <div class="image" (click)="presentActionSheet(1)">
        <img *ngIf="file_image != null" id="image" src="" />
        <ion-icon *ngIf="file_image == null" class="cam_image" name="ios-camera-outline"></ion-icon>
    </div>
    <input type="file" name="file_image" id="file_image" (change)="setFileImage($event)" #fileInp1 style="display:none" />
    <div class="div_sec">
        <ion-label>Company Name :</ion-label>
        <ion-input [(ngModel)]="company_name"></ion-input>
    </div>
    <div class="div_sec">
        <ion-label>Job Title :</ion-label>
        <ion-input [(ngModel)]="job_title"></ion-input>
    </div>
    <div class="div_sec">
        <ion-label>Job Description :</ion-label>
        <ion-textarea [(ngModel)]="job_desc"></ion-textarea>
    </div>
    <div class="div_sec">
        <ion-label>Job Requirement :</ion-label>
        <ion-textarea [(ngModel)]="job_req"></ion-textarea>
    </div>
    
    <div class="div_sec">
        <ion-label>Job Industry :</ion-label>
        <ion-select #indus  [(ngModel)]="job_industry">
            <ion-option value="#alljobs">#alljobs</ion-option>
            <ion-option *ngFor="let item of arrIndustry; let i = index;" value="{{item}}">{{item}}</ion-option>
        </ion-select>
    </div>
    <div class="div_sec">
        <ion-label>Position :</ion-label>
        <ion-select #position  [(ngModel)]="job_time">
            <ion-option *ngFor="let item of arrPosition; let i = index;" value="{{item}}">{{item}}</ion-option>
        </ion-select>
    </div>
    <div class="div_sec">
        <ion-label>Job Location :</ion-label>
        <ion-input [(ngModel)]="job_location" disabled readonly (click)="jobLocation()"></ion-input>
    </div>
    <br/>
</ion-content>