<ion-header>
    <ion-navbar color="jblue">
        <ion-title text-center *ngIf="!bedit">Create Job</ion-title>
        <ion-title text-center *ngIf="bedit">Edit Job</ion-title>
        <ion-buttons right>
            <div class="fright" (click)="post()">Post</div>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="back_img" id="back_img1" (click)="upload_back()">
    </div>
    <input type="file" name="file_back" id="file_back" (change)="setFileBack($event)" #fileInp style="display:none" />
    <div class="image" (click)="upload_image()">
        <img id="image1" src="" />
    </div>
    <input type="file" name="file_image" id="file_image" (change)="setFileImage($event)" #fileInp1 style="display:none" />
    <div class="div_sec">
        <ion-label>Company Name :</ion-label>
        <ion-input [(ngModel)]="company_name"></ion-input>
    </div>
    <div class="div_sec">
        <ion-label>Job Title :</ion-label>
        <ion-input [(ngModel)]="job_title"></ion-input>
    </div>
    <div class="div_sec">
        <ion-label>Job Description :</ion-label>
        <ion-textarea [(ngModel)]="job_desc"></ion-textarea>
    </div>
    <div class="div_sec">
        <ion-label>Job Requirement :</ion-label>
        <ion-textarea [(ngModel)]="job_req"></ion-textarea>
    </div>
    
    <div class="div_sec">
        <ion-label>Job Industry :</ion-label>
        <ion-select #indus  [(ngModel)]="job_industry">
            <ion-option value="">#alljobs</ion-option>
            <ion-option *ngFor="let item of arrIndustry; let i = index;" value="{{item}}">{{item}}</ion-option>
        </ion-select>
    </div>
    <div class="div_sec">
        <ion-label>Position :</ion-label>
        <ion-select #position  [(ngModel)]="job_time">
            <ion-option *ngFor="let item of arrPosition; let i = index;" value="{{item}}">{{item}}</ion-option>
        </ion-select>
    </div>
    <div class="div_sec">
        <ion-label>Job Location :</ion-label>
        <ion-input [(ngModel)]="job_location" disabled readonly style="background: #f3f3f3;" (click)="jobLocation()"></ion-input>
    </div>
    <div class="div_sec" text-center>
        <button ion-button round color='jred' (click)="deleteJob()">Delete</button>
    </div>
    <br/>
</ion-content>