page-employer-postjob-edit{
    .back_img{
        background: #ddd;
        height: 150px;
        position: relative;
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }
    .image{
        position: relative;
        top: -60px;
        width: 120px;
        height: 120px;
        margin: 0px auto;
        background: #ddd;
        border: 2px solid #fff;
        box-shadow: #aaa 0px 0px 1px;
        border-radius: 100px;
        overflow: hidden;
        margin-bottom: -40px;
        cursor: pointer;
    }
    .image img{
        width: 100%;
        height: 100%;
    }
    .cam_back{
        position: absolute;
        right: 10px;
        bottom: 10px;
        font-size: 30px;
        cursor: pointer;
    }
    .cam_image{
        position: absolute;
        top: 30px;
        left: 38px;
        font-size: 30px;
        cursor: pointer;
    }
    .div_sec{
        padding: 5px 10px;
        position: relative;
    }
    .div_sec ion-label{
        font-weight: bold;
        padding-left: 10px;
        margin: 8px 8px;
    }
    .div_sec ion-input,
    .div_sec ion-textarea,
    .div_sec ion-select{
        border-radius: 50px;
        border: 1px solid #ddd;
    }
    .div_sec ion-select{
        max-width: 100%;
        padding: 8px 8px;
    }
    .div_sec ion-textarea{
        border-radius: 5px;
        min-height: 100px;
    }
    .div_sec .text-input-md{
        margin: 8px 8px;
        padding: 0px 10px;
    }
    
    @media (max-width: 767px) {
        .back_img{
            height: 80px;
        }
        .image{
            top: -50px;
            width: 100px;
            height: 100px;
        }
    }
}
