<ion-header>
    <ion-navbar color="jblue">
        <ion-title text-center>Applied Jobs</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <ion-searchbar #q [(ngModel)]="searchValue" (keyup.enter)="search(q.value)" (ionInput)="search(q.value)" pleceholder="">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of slist; let i = index;" (click)="goDetail(i)">
            <div class='item_decline' *ngIf="item.state=='decline'">
                <ion-icon name='close' tappable (click)="declineJob(item, i)"></ion-icon>
            </div>
            <img class="user_avatar" src="{{item.job_job_avatar_url}}" />
            <div class="desc">
                <div>{{item.job_job_title}}</div>
                <small *ngIf="item.state == 'invite'">Invited {{item.timeago}}</small><br/>
                <small *ngIf="item.state != 'invite'">Applied {{item.timeago}}</small><br/>
                <small>{{item.distance}}
                    <span *ngIf="item.state == 'shortlist'">(Shortlisted)</span>
                    <span *ngIf="item.state == 'invite'">(Invited)</span>
                    <span *ngIf="item.state == 'bot'">(In AVA Chat Session)</span>
                </small>
            </div>
            <div class="fright">
                <ion-icon name="ios-paper-outline" *ngIf="item.state == 'shortlist'"></ion-icon>
                <img class="jobbot" *ngIf="item.state == 'bot'" src="assets/images/AVABOT.PNG"/>
            </div>
        </ion-item>
    </ion-list>
</ion-content>