page-seeker-applied{
    .user_avatar{
        width: 70px;
        height: 70px;
        border: 2px solid #fff;
        box-shadow: #555 0px 0px 1px;
        border-radius: 100px;
    }
    .top_header{
    }
    ion-item.item-md{
        border-bottom: 1px solid #eee;
    }
    ion-item img,
    ion-item div.desc{
        float: left;
    }
    ion-item div.desc{
        width: calc(100% - 180px);
        padding: 5px;
        padding-left: 10px;
    }
    ion-item button.button-md{
        margin-top: 5px;
        width: 60px;
    }
    .bt_blue{
        border: 1px solid #3ac7f3;
        background: #fff;
        color: #3ac7f3;
    }
    div.fright{
        float: right;
        text-align: right;
    }
    .jobbot{
        width: 30px;
        height: 30px;
        border-radius: 50px;
    }
    ion-item ion-icon{
        color: #7cbb22;
        font-size: 30px;
    }
    ion-list ion-item{
        position: relative;
    }
    .item_decline{
        position: absolute;
        width: calc(100% - 20px);
        height: 100%;
        background: rgba(255,255,255,0.6);
    }
    .item_decline ion-icon{
        position: absolute;
        right: 10px;
        top: 20px;
        color: #f00;
    }
}