// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.img_logo{
    max-width: 300px;
    position: fixed;
    top: 30px;
    left: calc(50% - 150px);
    z-index: 9;
}
.slide-zoom{
    height: 100%;
}
button.button{
    box-shadow: none;
}
video{
    max-width: 100%;
}
ion-row ion-col div.desc{
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 5px 10px;
    min-height: 80px;
}
ion-content.desc ion-row ion-col:nth-child(2){
    font-weight: bold;
    color: #333;
}

.tabs-md .tab-button[aria-selected=true]{
    background: #3ac7f3;
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .tab-button[aria-selected=true] .tab-button-text{
    color: #fff;
}

ion-content.cont_detail.content-md{
    background: #eee;
    
    .lb_title{
        text-transform: uppercase;
        padding-left: 10px;
    }
    ion-item ion-label{
        font-size: 12px;
    }
    .lb_icon.label-md{
        font-size: 16px;
        width: 24px;
        max-width: 24px;
        text-align: center;
    }
    .lb_icon.label-md ion-icon{
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background: #212121;
        color: #ccc;
        padding: 2px;
    }
    .lb_icon.lb_icon_right.label-md{
        max-width: 18px;
    }
    .lb_icon.lb_icon_right.label-md ion-icon{
        background: #fff;
        color: #aaa;
    }
    ion-item .input-wrapper ion-label:last-child{
        color: #888;
    }
}

.fright{
    float: right;
    color: #fff;
}

.user_avatar{
    cursor: pointer;
}
div.scroll-content{
    overflow-y: auto;
}

@media (min-width: 500px) {
    button.button.button-md{
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}