page-employer-editprofile{
    .back_img{
        background: #ddd;
        height: 150px;
        position: relative;
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }
    .image{
        position: relative;
        top: -60px;
        width: 120px;
        height: 120px;
        margin: 0px auto;
        background: #ddd;
        border: 2px solid #fff;
        box-shadow: #aaa 0px 0px 1px;
        border-radius: 100px;
        overflow: hidden;
        margin-bottom: -40px;
        cursor: pointer;
    }
    .image img{
        width: 100%;
        height: 100%;
    }
    
    @media (max-width: 767px) {
        .back_img{
            height: 80px;
        }
        .image{
            top: -50px;
            width: 100px;
            height: 100px;
        }
    }
}