<ion-header>
    <ion-navbar color="jblue">
        <ion-icon name="list" class="iconlist"></ion-icon>
        <ion-icon name="map" class="iconmap" (click)="goMap()"></ion-icon>
        <ion-title text-center>Jobs</ion-title>
        <ion-icon name="ios-heart-outline" class="iconheart" (click)="goLiked()"></ion-icon>
        <ion-icon name="ios-briefcase-outline" class="iconapplied" (click)="goApplied()"></ion-icon>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="top_header">
        <ion-searchbar #q [(ngModel)]="searchValue" (keyup.enter)="search(q.value)" (ionInput)="search(q.value)" pleceholder="">
        </ion-searchbar>
        <div style="padding: 0px 8px;">
            <ion-select #indus interface="popover" [(ngModel)]="queryIndustry" (ionChange)="change(indus.value)" style="padding: 4px 5px;">
                <ion-option value="">#alljobs</ion-option>
                <ion-option *ngFor="let item of arrIndustry; let i = index;" value="{{item}}">{{item}}</ion-option>
            </ion-select>
        </div>
    </div>
    <ion-icon tappable class="arrow_prev" name="ios-arrow-back-outline" (click)="prev()"></ion-icon>
    <ion-icon tappable class="arrow_next" name="ios-arrow-forward-outline" (click)="next()"></ion-icon>
    <ion-slides pager id='slides' #slides>
        <ion-slide *ngFor="let item of slist; let i = index;">
            <div class="back_img" [style.backgroundImage]="'url('+item.job_job_background_url+')'"></div>
            <img src="{{item.job_job_avatar_url}}" class="user_avatar" />
            <img class="jobbot" *ngIf="item.job_bot_state == '1'" src="assets/images/AVABOT.PNG"/>
            <div style="margin-top:-30px">{{item.job_company_name}}</div>
            <div>{{item.job_job_title}}</div>
            <small>Posted {{item.timeago}}</small><br/>
            <small>{{item.applicants_cnt}} applies &nbsp;&nbsp; {{item.distance}}</small>
            <div>Job Description</div>
            <small>{{item.job_job_description}}</small>
            <ion-row class="buttons">
                <ion-col padding>
                    <button ion-button full round class="bt_green" (click)="like(i)">
                        <ion-icon name="ios-heart-outline" class="bticon"></ion-icon>
                        Like</button>
                </ion-col>
                <ion-col padding>
                    <button ion-button full round class="bt_blue" (click)="apply(i)">
                        <ion-icon name="ios-paper-outline" class="bticon"></ion-icon>
                        Apply</button>
                </ion-col>
                <ion-col col-12 padding style="padding-top:0px">
                    <button ion-button full round color="jblue" (click)="readMore(i)">Tap to Read More</button>
                </ion-col>
            </ion-row>
        </ion-slide>
    </ion-slides>
</ion-content>