<ion-header>
    <ion-navbar color="jblue">
        <ion-icon name="list" class="iconlist"></ion-icon>
        <ion-icon name="map" class="iconmap" (click)="goMap()"></ion-icon>
        <ion-title text-center>Profile</ion-title>
        <ion-icon name="heart" class="iconheart" (click)="goLiked()"></ion-icon>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="asearch_dlg" *ngIf="showSearch">
        <div class="div_sec">
            <div class="overlay" *ngIf="!isexperience"></div>
            <ion-checkbox [(ngModel)]="isexperience" (click)="clickExperience()"></ion-checkbox>
            <ion-label>Experience :</ion-label>
            <ion-row>
                <ion-col col-3 text-right>City : </ion-col>
                <ion-col col-9><ion-input placeholder="City" [(ngModel)]="queryExperienceCity" ></ion-input></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3 text-right>Country : </ion-col>
                <ion-col col-9><ion-input placeholder="Country" [(ngModel)]="queryExperienceCountry"></ion-input></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3 text-right>Role : </ion-col>
                <ion-col col-9><ion-input placeholder="Role" [(ngModel)]="queryExperienceRole"></ion-input></ion-col>
            </ion-row>
        </div>
        <div class="div_sec">
            <div class="overlay" *ngIf="!iscurwork"></div>
            <ion-checkbox [(ngModel)]="iscurwork" (click)="clickCurwork()"></ion-checkbox>
            <ion-label>Current Work :</ion-label>
            <ion-row>
                <ion-col col-3 text-right>City : </ion-col>
                <ion-col col-9><ion-input placeholder="City" [(ngModel)]="queryCurWorkCity"></ion-input></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3 text-right>Country : </ion-col>
                <ion-col col-9><ion-input placeholder="Country" [(ngModel)]="queryCurWorkCountry"></ion-input></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3 text-right>Role : </ion-col>
                <ion-col col-9><ion-input placeholder="Role" [(ngModel)]="queryCurWorkRole"></ion-input></ion-col>
            </ion-row>
        </div>
        <div class="div_sec">
            <div class="overlay" *ngIf="!isedu"></div>
            <ion-checkbox [(ngModel)]="isedu" (click)="clickEdu()"></ion-checkbox>
            <ion-label>Education :</ion-label>
            <ion-row>
                <ion-col col-3 text-right></ion-col>
                <ion-col col-9><ion-input placeholder="Area of Study" [(ngModel)]="queryEducation"></ion-input></ion-col>
            </ion-row>
        </div>
        <div class="div_sec">
            <div class="overlay" *ngIf="!islang"></div>
            <ion-checkbox [(ngModel)]="islang" (click)="clickLang()"></ion-checkbox>
            <ion-label>Language :</ion-label>
            <ion-row>
                <ion-col col-3 text-right></ion-col>
                <ion-col col-9><ion-input placeholder="Insert Language" [(ngModel)]="queryLanguage"></ion-input></ion-col>
            </ion-row>
        </div>
        <div class="div_sec">
            <div class="overlay" *ngIf="!iscert"></div>
            <ion-checkbox [(ngModel)]="iscert" (click)="clickCert()"></ion-checkbox>
            <ion-label>Professional Certification :</ion-label>
            <ion-row>
                <ion-col col-3 text-right></ion-col>
                <ion-col col-9><ion-input placeholder="Professional Certification" [(ngModel)]="queryCertificate"></ion-input></ion-col>
            </ion-row>
        </div>
        <div class="div_sec">
            <div class="overlay" *ngIf="!isinterest"></div>
            <ion-checkbox [(ngModel)]="isinterest" (click)="clickInterest()"></ion-checkbox>
            <ion-label>Interest :</ion-label>
            <ion-row>
                <ion-col col-3 text-right></ion-col>
                <ion-col col-9><ion-input placeholder="Interest" [(ngModel)]="queryInterest"></ion-input></ion-col>
            </ion-row>
        </div>
        <br/>    
        <div text-center>
            <button ion-button round color="jred" (click)="cancel()">Cancel</button>
            <button ion-button round color="jblue" (click)="done()">Done</button>
        </div>
        <br/>
    </div>
    <div class="top_header">
        <ion-icon class="asearch" tappable name="ios-funnel-outline" (click)="asearch()"></ion-icon>
        <ion-searchbar #q [(ngModel)]="searchValue" (keyup.enter)="search(q.value)" pleceholder="">
        </ion-searchbar>
        <div style="padding: 0px 8px;">
            <ion-select #indus interface="popover" [(ngModel)]="queryIndustry" (ionChange)="change(indus.value)">
                <ion-option value="">#alljobs</ion-option>
                <ion-option *ngFor="let item of arrIndustry; let i = index;" value="{{item}}">{{item}}</ion-option>
            </ion-select>
        </div>
    </div>
    <ion-icon class="arrow_prev" name="ios-arrow-back-outline" (click)="prev()"></ion-icon>
    <ion-icon class="arrow_next" name="ios-arrow-forward-outline" (click)="next()"></ion-icon>
    <ion-slides pager id='slides' #slides>
        <ion-slide *ngFor="let item of list; let i = index;">
            <img src="{{item.user_avatar_url}}" class="user_avatar" />
            <div>{{item.user_name}}</div>
            <small>{{item.distance}}</small>
            <div>About</div>
            <small>{{item.user_about}}</small>
            <ion-row class="buttons">
                <ion-col padding>
                    <button ion-button full round class="bt_green" (click)="like(i)">Like</button>
                </ion-col>
                <ion-col padding>
                    <button ion-button full round class="bt_blue" (click)="invite(i)">Invite</button>
                </ion-col>
                <ion-col col-12 padding style="padding-top:0px">
                    <button ion-button full round color="jblue" (click)="readMore(i)">Tap to Read More</button>
                </ion-col>
            </ion-row>
        </ion-slide>
    </ion-slides>
</ion-content>