page-employer-home{
    .iconlist,
    .iconmap,
    .iconheart{
        position: absolute;
        top: 20px;
        font-size: 24px;
        color: #fff;
        left: 10px;
        z-index: 9;
    }
    .iconheart{
        left: auto;
        right: 10px;
    }
    .iconmap{
        left: 40px;
    }
    .select-md{
        max-width: 100%;
        width: 100%;
        border: 1px solid #ccc;
    }
    .user_avatar{
        width: 80px;
        height: 80px;
        border: 2px solid #fff;
        box-shadow: #555 0px 0px 1px;
        border-radius: 100px;
    }
    .top_header{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 99;
    }
    .bt_green{
        border: 2px solid #7cbb22;
        background: #fff;
        color: #7cbb22;
    }
    .bt_blue{
        border: 2px solid #3ac7f3;
        background: #fff;
        color: #3ac7f3;
    }
    ion-slides{
        margin-top: 120px;
        height: calc(100% - 120px);
    }
    .swiper-slide{
        display: block
    }
    .buttons{
        position: absolute;
        bottom: 20px;
        max-width: 450px;
    }
    .searchbar-md{
        z-index: 9;
        width: calc(100% - 44px);
        float: right;
    }
    .arrow_prev,
    .arrow_next{
        position: absolute;
        font-size: 30px;
        top: 40%;
        cursor: pointer;
        z-index: 99;
    }
    .arrow_prev{
        left: 10px;
    }
    .arrow_next{
        right: 10px;
    }
    .asearch{
        position: absolute;
        font-size: 24px;
        font-weight: bold;
        z-index: 99;
        padding: 12px;
        margin: 2px;
        margin-top: 7px;
        background: #3ac7f3;
        color: #fff;
    }

    .asearch_dlg{
        position: fixed;
        top: 56px;
        width: 100%;
        height: calc(100% - 113px);
        background: #fff;
        z-index: 999;
        overflow-y: auto;
    }
    
    .div_sec{
        padding: 5px 10px;
        position: relative;
    }
    .div_sec .overlay{
        position: absolute;
        background: rgba(255,255,255,0.5);
        width: calc(100% - 10px);
        height: calc(100% - 30px);
        top: 30px;
        z-index: 1;
    }
    .div_sec ion-checkbox{
        position: absolute;
        top: 12px;
    }
    .div_sec ion-label{
        font-weight: bold;
        padding-left: 16px;
        margin: 8px 8px;
    }
    .div_sec ion-input,
    .div_sec ion-textarea,
    .div_sec ion-select{
        border-radius: 50px;
        border: 1px solid #ddd;
    }
    .div_sec ion-select{
        max-width: 100%;
        padding: 8px 16px;
    }
    .div_sec ion-textarea{
        border-radius: 5px;
        min-height: 100px;
    }
    .div_sec .text-input-md{
        margin: 8px 8px;
        padding: 0px 10px;
    }
    .div_sec textarea.text-input-md{
        min-height: 100px;
    }
    .div_sec ion-row ion-col:first-child{
        padding-top: 12px;
    }

    @media (min-width: 500px) {
        .buttons{
            left: calc(50% - 225px);
        }
    }
    @media (min-width: 768px) {
        .user_avatar{
            width: 150px;
            height: 150px;
        }
    }
}