page-signup{
    ion-content{
        background: url(../assets/images/register_background.png);
        background-size: cover;
        background-position: center;
    }
    div.div_form{
        margin-top: 100px;
    }
    ion-item.form-item{
        border-radius: 50px;
        margin: 10px 0px;
    }
    
    div.div_login{
        margin-top: 10px;
    }
    div.div_login span{
        color: $jblue;
    }
}