page-signup{
    ion-content{
        background: url(../assets/images/register_background.png);
        background-size: cover;
        background-position: center;
    }
    ion-icon.nav_back{
        position: fixed;
        left: 20px;
        top: 30px;
        font-size: 26px;
        cursor: pointer;
    }
    div.div_form{
        margin: auto;
        margin-top: 100px;
        max-width: 600px;
    }
    ion-item.form-item{
        border-radius: 50px;
        margin: 10px 0px;
    }
    
    div.div_login{
        margin-top: 10px;
    }
    div.div_login span{
        color: $jblue;
    }
    ion-select.select-md{
        width: calc(100% - 25px);
        max-width: 100%;
        padding-left: 0px;
    }
}