page-reset-employer{
    ion-icon.nav_back{
        position: fixed;
        left: 20px;
        top: 30px;
        font-size: 26px;
    }
    ion-content.content-md{
        background: #ddd;
    }
    div.div_form{
        margin: auto;
        margin-top: 200px;
        max-width: 500px;
    }
    ion-item.form-item{
        border-radius: 50px;
        margin: 10px 0px;
    }
    div.div_forgot_password{
        margin-top: 50px;
    }
    div.div_forgot_password span{
        color: $jblue;
    }
}