<ion-header>
    <ion-navbar color="jblue">
        <ion-title text-center>View Ads</ion-title>
        <ion-buttons right>
            <div class="fright" (click)="follow()">{{lbfollow}}</div>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="back_img" id="back_img">
    </div>
    <div class="image">
        <img id="image_ads" src="{{general?.tbl_ads_avatar_url}}" />
    </div>
    <input type="file" name="file_image" id="file_image" (change)="setFileImage($event)" #fileInp style="display:none" />

    <div class="div_sec">
        <ion-label text-center>Description :</ion-label>
        <ion-textarea [(ngModel)]="desc" disabled readonly></ion-textarea>
    </div>

    <ion-card class='job' *ngFor="let item of list" [style.backgroundImage]="'url('+item?.job_job_avatar_url+')'" (click)="goJobDetail(item)">
        <div class='back_overlay'>
            <div class="job_title">{{item.job_job_title}}</div>
            <div class="job_time">{{item.job_time_available}}</div>
        </div>
    </ion-card>
    
    <div padding>Picture Gallery</div><br/>

    <ion-card class='photo' *ngFor="let item of photolist" [style.backgroundImage]="'url('+item?.ads_photos_url+')'">
    </ion-card>

    <br/>
</ion-content>
