page-employer-seeker-detail{
    img.profile_image{
        max-width: 400px;
        margin: auto;
        display: block;
    }
    ion-buttons div{
        padding-left: 10px;
    }
    .bt_green{
        border: 2px solid #7cbb22;
        background: #fff;
        color: #7cbb22;
    }
    .bt_blue{
        border: 2px solid #3ac7f3;
        background: #fff;
        color: #3ac7f3;
    }
}